table {
  background: #FCF8FF !important;
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  color: #4B4453 !important;
  width: 100%;
}

.text-th{
  color: #4B4453;
  text-transform: uppercase;
  text-decoration: underline;
}

.text-td{
  color: #4B4453;
}
